<!-- cgm_sf/templates/includes/header.html -->
<header>
    <div style="text-align:center; padding: 10px; background-color: rgba(255,255,255,0.9);">
        <!-- Logo -->
        <img src="/files/image.jpeg" alt="CGM SF Logo" style="height: 50px; margin-bottom: 9px;">
        <h1>CGM SF</h1>
        <h2>The Christ Gospel Messengers Student Fellowship</h2>
    </div>

    <!-- Navigation Bar -->
    <nav>
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
        <a href="/student-registration">Register</a>
    </nav>
</header>
